<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<meta
		http-equiv="content-type"
		content="text/html;charset=utf-8" />
	<head>
		<meta
			http-equiv="Content-Type"
			content="text/html; charset=UTF-8" />
		<meta
			http-equiv="x-ua-compatible"
			content="ie=edge" />

		<title>CryptoApex</title>

		<meta
			property="og:type"
			content="website" />
		<meta
			property="og:url"
			content="index.html" />
		<meta
			property="og:title"
			content="CryptoApex" />

		<meta
			property="twitter:card"
			content="summary_large_image" />
		<meta
			property="twitter:url"
			content="index.html" />
		<meta
			property="twitter:title"
			content="CryptoApex" />

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="index_files/css-normalize.css" />
		<link
			rel="stylesheet"
			href="index_files/font-awesome.css" />
		<link
			rel="stylesheet"
			href="index_files/aos.css" />
		<link
			rel="stylesheet"
			href="index_files/owl-owl.carousel.css" />
		<link
			rel="stylesheet"
			href="index_files/css-core.css" />
		<script
			src="index_files/l.js"
			async=""></script>
		<link
			href="css/bootstrap.min7eda.css"
			rel="stylesheet"
			type="text/css" />
		<script
			src="index_files/client.js"
			type="text/javascript"
			async=""></script>
		<link
			href="index_files/client_default.css"
			type="text/css"
			rel="stylesheet" />
	</head>
	<body
		data-aos-easing="ease"
		data-aos-duration="800"
		data-aos-delay="0">
		<form
			method="post"
			action="#"
			id="form1">
			<div class="aspNetHidden">
				<input
					type="hidden"
					name="__VIEWSTATE"
					id="__VIEWSTATE"
					value="/wEPDwUKMTY1NDU2MTA1MmRkia+xZT9WYDgG+rdSxJU5wQoI+O/IzlAWE3GGbf+mgwE=" />
			</div>

			<div class="aspNetHidden">
				<input
					type="hidden"
					name="__VIEWSTATEGENERATOR"
					id="__VIEWSTATEGENERATOR"
					value="CA0B0334" />
			</div>

			<header class="tm-main-header">
				<div class="tm-container flx logo-row">
					<div class="tm-logo-holder">
						<a
							href="/"
							style="
								display: flex;
								align-items: center;
								color: white;
								text-decoration: none;
							">
							<img
								src="img/loog.png"
								alt="CryptoApex"
								height="30"
								width="30" />
							<h2 style="margin-left: 5px">CryptoApex</h2>
						</a>
					</div>
					<% if(!currentUser){ %>
					<div class="top-lang">
						<a
							href="/cryptoLogin"
							target="_blank"
							class="btn-rounded white-line"
							>Log In</a
						>
						<a
							href="/cryptoRegister"
							target="_blank"
							class="btn-rounded white"
							>Get Started</a
						>
					</div>
					<% } else { %> <% } %>
				</div>

				<div class="tm-container flx nav-row">
					<nav>
						<div class="tm-container">
							<ul>
								<li>
									<a href="/">Home</a>
								</li>
								<li>
									<a href="/about">About Us</a>
								</li>
								<li>
									<a href="/contact">Contact Us</a>
								</li>

								<% if(!currentUser){ %>
								<li>
									<a href="/cryptoLogin">Login Now</a>
								</li>
								<li>
									<a href="/cryptoRegister">Register Now</a>
								</li>
								<% } else { %>

								<li>
									<a href="/cryptoProfile">Dashboard</a>
								</li>
								<% } %>
								<li class="has-submenu">
									<a href="javascript:void(0);">Company</a>
									<ul class="tm-submenu">
										<li>
											<a href="/about">About Us</a>
										</li>
										<li>
											<a href="/contact">Contact Us</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</nav>
				</div>

				<div class="sticky-header-nav-prime">
					<div class="flx">
						<div class="responsive-logo-holder">
							<a
								href="/"
								style="
									display: flex;
									align-items: center;
									color: white;
									text-decoration: none;
								">
								<img
									src="img/loog.png"
									alt="CryptoApex"
									height="30"
									width="30" />
								<h2 style="margin-left: 5px">CryptoApex</h2>
							</a>
						</div>

						<nav class="mobile-nav">
							<div class="mobile-menu-items-wraper">
								<ul>
									<li>
										<a href="/">Home</a>
									</li>
									<li>
										<a href="/about">About Us</a>
									</li>
									<li>
										<a href="/contact">Contact Us</a>
									</li>
									<li>
										<a href="/cryptoLogin">Login Now</a>
									</li>
									<li>
										<a href="/cryptoRegister"
											>Register Now</a
										>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);"
											>Company</a
										>
										<ul class="tm-submenu">
											<li>
												<a href="/about">About Us</a>
											</li>
											<li>
												<a href="/contact"
													>Contact Us</a
												>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
						<div class="tm-btn-holder">
							<a
								href="/cryptoRegister"
								target="_blank"
								class="btn-rounded white get-started-btn"
								>Get Started</a
							>
						</div>
					</div>
				</div>
				<div class="sticky-header-nav">
					<div class="flx">
						<div class="responsive-logo-holder">
							<a
								href="/"
								style="
									display: flex;
									align-items: center;
									color: white;
									text-decoration: none;
								">
								<img
									src="img/loog.png"
									alt="CryptoApex"
									height="30"
									width="30" />
								<h2 style="margin-left: 5px">CryptoApex</h2>
							</a>
						</div>
						<nav class="mobile-nav">
							<span class="close-menu"> X </span>
							<div class="tm-btn-wrapper tm-pt-40 t-al-c">
								<a
									href="/cryptoRegister"
									target="_blank"
									class="btn-rounded white get-started-btn t-dn m-dib"
									>Get Started</a
								>

								<a
									href="cryptoLogin"
									target="_blank"
									class="btn-rounded white-line t-dn m-dib"
									>Log In</a
								>
							</div>

							<div class="mobile-menu-items-wraper tm-pt-40">
								<ul>
									<li>
										<a href="/">Home</a>
									</li>
									<li>
										<a href="/about">About Us</a>
									</li>
									<li>
										<a href="/contact">Contact Us</a>
									</li>
									<li>
										<a href="/cryptoLogin">Login Now</a>
									</li>
									<li>
										<a href="/cryptoRegister"
											>Register Now</a
										>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);"
											>Company</a
										>
										<ul class="tm-submenu">
											<li>
												<a href="/about">About Us</a>
											</li>
											<li>
												<a href="/contact"
													>Contact Us</a
												>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
						<div class="tm-btn-holder">
							<a
								href="/cryptoRegister"
								target="_blank"
								class="btn-rounded white get-started-btn t-dib m-dn"
								>Get Started</a
							>
							<a
								href="/cryptoLogin"
								target="_blank"
								class="btn-rounded white-line t-dib m-dn"
								>Portal</a
							>

							<span class="menu-trigger">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</div>
					</div>
				</div>
			</header>
		</form>
	</body>
</html>
