<%- include ('./partials/pageHeader') %>

        
 <section class="tm-inner-banner" style="background-image: url('www.oanda.com/media/images/billboard-history1-2499x7152x_QNodcOD.original.html')"><div class="tm-container flx">
            <div class="banner-content-left">
               
                <h1 title="About">About CryptoApex<br><br></h1>
                <p>An award-winning global company offering leading currency solutions for both retail and corporate clients. Our vision is to transform how our clients can meet all their currency needs.</p>
            </div>

        </div>
    </section>
    



<section class="tm-inner-section tm-pb-0 t-tm-pl-40 t-tm-pr-40 m-tm-pl-20 m-tm-pr-20">
    <div class="tm-container">
        <div class="flx-two-col">
            <div class="tm-col tm-col-100 tm-pr-40 t-tm-pr-0 m-tm-pr-0 t-t-al-c">
                <div class="tm-section-heading t-al-c aos-init aos-animate" data-aos="fade-up">
                    <p>At CryptoApex<br><br>, we aim to provide you with the best trading conditions, powered by both industry-leading and cutting edge innovative platforms. Our R&amp;D efforts constantly push the boundaries of liquidity and usability to empower you to benefit from a truly exceptional trading environment.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tm-inner-section tm-pt-80 t-tm-pt-0 t-tm-pb-60 t-tm-pl-40 t-tm-pr-40 m-tm-pl-20 m-tm-pr-20
    m-tm-pt-15">
    <div class="tm-container">
        <div class="flx-two-col">
            <div class="tm-col tm-col-100 t-tm-col-100 t-t-al-c">
                <div class="tm-section-content">
                    <div class="stat-card-wrapper">
                        <div class="stat-card aos-init aos-animate" data-aos="flip-right">
                            <div class="icon-holder">
                                <img src="images%250D%250A%250D%250A%250D%250A/commodity.html" alt="">
                            </div>
                            <h5>15000 +</h5>
                            <p>Trading Products</p>
                        </div>
                        <div class="stat-card aos-init aos-animate" data-aos="flip-right">
                            <div class="icon-holder">
                                <img src="images%250D%250A%250D%250A%250D%250A/global.html" alt="">
                            </div>
                            <h5>200 +</h5>
                            <p>Countries with our presence</p>
                        </div>
                        <div class="stat-card aos-init" data-aos="flip-right">
                            <div class="icon-holder">
                                <img src="images%250D%250A%250D%250A%250D%250A/trade-volume.html" alt="">
                            </div>
                            <h5>100bil +</h5>
                            <p>Trading Volume</p>
                        </div>
                        <div class="stat-card aos-init" data-aos="flip-right">
                            <div class="icon-holder">
                                <img src="images%250D%250A%250D%250A%250D%250A/regulation-icon.html" alt="">
                            </div>
                            <h5>2</h5>
                            <p>Reputable Regulations</p>
                        </div>
                        <div class="stat-card aos-init" data-aos="flip-right">
                            <div class="icon-holder">
                                <img src="images%250D%250A%250D%250A%250D%250A/icon-instruments-blue.html" alt="">
                            </div>
                            <h5>7</h5>
                            <p>Asset Classes</p>
                        </div>
                        <div class="stat-card aos-init" data-aos="flip-right">
                            <div class="icon-holder">
                                <img src="images%250D%250A%250D%250A%250D%250A/icon-free-blue.html" alt="">
                            </div>
                            <h5>7</h5>
                            <p>Top-Tier Liquidity Providers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="tm-inner-section tm-regulations t-tm-pl-40 t-tm-pr-40 t-tm-pt-40 t-tm-pb-40 m-tm-pl-20 m-tm-pr-20
     m-tm-pb-15">
    <div class="tm-container">
        <div class="flx-two-col">
            <div class="tm-col tm-col-35 t-tm-col-100 t-t-al-c t-tm-pb-40 m-tm-pb-20">
                <div class="tm-section-heading">
                    <h2>Regulations</h2>
                    <p>CryptoApex<br><br> is regulated by two of the world leading financial jurisdictions. Clients can rest assured that they 
                    are trading with a safe and secure company.</p>
                </div>
            </div>
            <div class="tm-col tm-col-65 t-tm-col-100 t-t-al-c">
                <div class="tm-section-content">
                    <div class="stat-card-wrapper">
                        <div class="stat-card aos-init aos-animate" data-aos="flip-right" data-aos-delay="240">
                            <div class="icon-holder">
                                <img src="images%250D%250A%250D%250A%250D%250A/flag-aus.html" alt="">
                            </div>
                            <h5>ASIC</h5>
                            <p>CryptoApex<br><br> Australia Pty Ltd is authorised and regulated by the Australian Security and Investment Commission</p>
                        </div>
                        <div class="stat-card aos-init" data-aos="flip-right" data-aos-delay="350">
                            <div class="icon-holder">
                                <img src="images%250D%250A%250D%250A%250D%250A/van-flag.html" alt="">
                            </div>
                            <h5>VFSC</h5>
                            <p>Trademax Global Limited is authorised and regulated by the Vanuatu
                             Financial Services Commission </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="tm-inner-section tm-timeline t-tm-pl-40 t-tm-pr-40 m-tm-pl-20 m-tm-pr-20">
    <div class="tm-container">
        <div class="flx-fluid">
            <div class="tm-col">
                <div class="tm-section-heading">
                    <h2>Where it all started</h2>
                    <p>The founding members of CryptoApex<br><br> spent their early days doing what they do best: Trading. It was through this experience that they found what obstacles traders were facing while trading, roadblocks and pain points that the industry was simply not solving. Driven by the desire to solve these problems for fellow traders, they went forth to search for a solution.</p>
                </div>
                <div class="tm-section-content">
                    <div class="owl-carousel owl-loaded owl-drag" id="tm-timelines">
                        
                        
                        
                        
                        
                        
                    <div class="owl-stage-outer owl-height" style="height: 368px;"><div class="owl-stage" style="transform: translate3d(-1146px, 0px, 0px); transition: all 0s ease 0s; width: 2292px;"><div class="owl-item" style="width: 382px;"><div class="item">
                            <div class="tm-tl-card">
                                <span class="year-label">2020</span> <span class="circle"></span>
                                <div class="tm-tl-descp">
                                    <p>CryptoApex<br><br> continues to expand its global reach, opening an Institutional Business Office in the financial hub of Asia -  - Singapore.</p>
                                    <p>Over the past 7 years, CryptoApex<br>
									<br> Group has taken huge steps towards one main goal: to continuously improve the connection between demands and solutions for global investors.</p>

                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 382px;"><div class="item">
                            <div class="tm-tl-card">
                                <span class="year-label">2019</span> <span class="circle"></span>
                                <div class="tm-tl-descp">
                                    <p>CryptoApex<br><br> Group reach continues to grow strongly and the company decides to launch additional offices to better serve their clients. In 2019, they opened regional offices in:</p>
                                    <ul>
                                        <li>Taiwan</li>
                                        <li>New Zealand</li>
                                    </ul>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 382px;"><div class="item">
                            <div class="tm-tl-card">
                                <span class="year-label">2018</span> <span class="circle"></span>
                                <div class="tm-tl-descp">
                                    <p>CryptoApex<br><br>, now known as CryptoApex<br>
									<br> Group, continued to attract clients from all over the world, which increased the desire to provide a more personal touch to their clients. Sticking true to their promise of providing top-notch customer service to clients, CryptoApex<br>
									<br> launched offices in:</p>
                                    <ul>
                                        <li>Melbourne</li>
                                        <li>Adelaide</li>
                                        <li>Philippines</li>
                                    </ul>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 382px;"><div class="item">
                            <div class="tm-tl-card">
                                <span class="year-label">2017</span> <span class="circle"></span>
                                <div class="tm-tl-descp">
                                    <p>This year marked a huge milestone for CryptoApex<br>
									<br> as CryptoApex<br><br> Equities was formed - authorized by ASIC to deal in a suite of exchange tradeable products such as bonds, stocks and DMA services. CryptoApex<br>
									<br> saw an increasing need for wealth management services which was the driving factor to striek up an institutional partnership with BT Financial Group (a wealth management company by Australian Westpac Bank).</p>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 382px;"><div class="item">
                            <div class="tm-tl-card">
                                <span class="year-label">2016</span> <span class="circle"></span>
                                <div class="tm-tl-descp">
                                    <p>Driven by a desire to provide their clients with an unrivalled trading environment through an ever evolving IT infrastructure and innovation, CryptoApex<br>
									<br> decided to acquire LifeByte, an accomplished and innovative IT company which will translate the R&amp;D investments into results.</p>
                                </div>

                            </div>
                        </div></div><div class="owl-item" style="width: 382px;"><div class="item">
                            <div class="tm-tl-card">
                                <span class="year-label">2013</span> <span class="circle"></span>
                                <div class="tm-tl-descp">
                                    <p>The solution presented itself in the form of CryptoApex<br>
									<br>: a company genuinely built by traders, for traders, with a vision to not only solve their current problems - but to always be one step ahead innovating solutions for their clients.</p>
                                    <p>CryptoApex<br><br> successfully acquired its Australian Financial Service Licence (AFSL: 436416) in the same year, spelling the start of the founding member's grand vision of solving the problems of traders worldwide</p>
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tm-inner-section tm-liquidity-provider t-tm-pl-40 t-tm-pr-40 m-tm-pl-20 m-tm-pr-20">
    <div class="tm-container">
        <div class="flx-fluid">
            <div class="tm-col">
                <div class="tm-section-heading">
                    <h2>We partner with</h2>
                </div>
                <div class="tm-section-content">
                    <div class="lp-list flx">
                        <div class="liq-logo">
                            <img src="images/logo-UBS.jpg" alt="USB">
                        </div>
                        <div class="liq-logo">
                            <img src="images/logo-morgan-stanley.jpg" alt="Morgan Stanley">
                        </div>
                        <div class="liq-logo">
                            <img src="images/logo-citadel.jpg" alt="Citadel">
                        </div>
                        <div class="liq-logo">
                            <img src="images/logo-onezero.jpg" alt="OneZero">
                        </div>
                        <div class="liq-logo">
                            <img src="images/logo-jefferies.jpg" alt="Jefferies">
                        </div>
                        <div class="liq-logo">
                            <img src="images/logo-xtx.jpg" alt="XTX">
                        </div>
                        <div class="liq-logo">
                            <img src="images/logo-jp-morgan.jpg" alt="JP Morgan">
                        </div>
                        <div class="liq-logo">
                            <img src="images/logo-nomura.jpg" alt="Nomura">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

   <section class="tm-section tm-section-single-col tm-cta-section"><div class="tm-container">
        <div class="tm-title aos-init" data-aos="fade-up">
            <h2><span>Get Started!</span> Sign up and access the Global Markets in less than 3 minutes</h2>
            <div class="tm-btn-wrapper">
                <a href="signup.html" target="_blank" class="btn-big white">
                    Signup Now                </a>
                Or                <a href="login.html" target="_blank" class="text-link">
                    Login Now                </a>
            </div>
        </div>
    </div>
</section><footer>
          <center>  <p>CryptoApex is authorized and regulated |Copy Right 2024</p>            </center> 
        
        
       
       

</footer>


<div class="bonus_area show">
    <div class="inner_area"><button class="global-close-btn close-btn" data-dismiss="modal" onclick="return false;"><span></span></button>
    <div class="icon"><img src="images/get-free-box.png" alt="" style="width: 54.5px;"></div><span class="title">Get FREE</span><strong class="price">
    <em>$</em>500</strong><span class="subtitle">on $1,000 deposit</span></div>
        <a href="signup.aspx" class="get-btn">Get Now</a>
    </div>

 
    
    </form>
    <script src="../code.tidio.co_443/suyo3zr706yxcwktenttjvntahepswqq.js" async></script>
    <script src="index_files/vendor-jquery-3.2.1.min.js">
    </script><script src="index_files/1.12.1-jquery-ui.min.js">
    </script><script src="index_files/owl-owl.carousel.min.js"></script>
    <script src="index_files/dist-aos.js"></script>
    <script src="index_files/js-range-slider.js"></script>
    <script src="index_files/js-custom.js"></script><script>
                                                                                                                                                                                                                                                                                                                                                                                                                               AOS.init({
                                                                                                                                                                                                                                                                                                                                                                                                                                   duration: 800
                                                                                                                                                                                                                                                                                                                                                                                                                               });
</script>
<script type="text/javascript">
    $(window).on("load", function () {
        setTimeout(function () {
            $(".bonus_area").addClass("show")
        }, 5000);

    });

    $(".close-btn").click(function () {
        $(".bonus_area").removeClass("show");
    });

       
    </script>

	<script type="text/javascript">
	    $(function () {
	        setTimeout(function () {
	            $('.alert').slideUp(1500);
	        }, 4000);
	    });
	  </script>

	<script type="text/javascript">
	    $(function () {
	        setTimeout(function () {
	            $('.alert').slideUp(1500);
	        }, 4000);
	    });
	  </script>


<script>
    $(window).load(function () {
        $('#notification-1').Notification({
            // Notification varibles
            Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro", "Vina", "Tony", "Ahmed", "Jackson", "Noah", "Aiden", "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
			"Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
            Varible2: ["USA", "UAE", "ITALY", "FLORIDA", "MEXICO", "INDIA", "CHINA", "CAMBODIA", "UNITED KINGDOM", "GERMANY", "AUSTRALIA", "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES",
			"BOLIVIA",
			 "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],

            Amount: [100, 2500, 555, 666, 444, 333, 333],
            Content: '[Varible1] from [Varible2] has just Earned<b>$[Amount]</b>.',
            // Timer
            Show: ['stable', 5, 10],
            Close: 5,
            Time: [0, 23],
            // Notification style 
            LocationTop: [true, '72%'],
            LocationBottom: [false, '10%'],
            LocationRight: [false, '10%'],
            LocationLeft: [true, '10px'],
            Background: '#000000',
            BorderRadius: 5,
            BorderWidth: 0,
            BorderColor: '#000000',
            TextColor: 'white',
            IconColor: '#ffffff',
            // Notification Animated   
            AnimationEffectOpen: 'slideInUp',
            AnimationEffectClose: 'slideOutDown',
            // Number of notifications
            Number: 40,
            // Notification link
            Link: [false, 'index-2.html', '_blank']

        });
    });				
</script>
<script src="notify.js"></script>
<link rel="stylesheet" href="toastr.min.css">
<script src="toastr.min.js"></script>
<script src="faker.min.js"></script>
<script>
        setInterval(function(){
        let info = faker.helpers.createCard();
        let {name, email, address:{city,country,zipcode}} = info; 
        var amount = (Math.random()*10000).toFixed(2);
        var label_message = name+" invested the sum of $"+amount;
        //toastr["warning"](label_message, header_message);
        var html =  label_message;   
        $.notify( html,
        { position:"left"}
        );
         }, 15000);




    setInterval(function(){
        let info = faker.helpers.createCard();
        let {name, email, address:{city,country,zipcode}} = info; 
        var amount = (Math.random()*100000).toFixed(2);
        var label_message = "<font color='white'>"+name+" who lives in city of "+city+","+country+". withdraw the sum of $"+amount+".</font>";
        var header_message = "<font color='white'>Recent Withdrawal!</font>";
        toastr["success"](label_message, header_message);
        
         }, 20000);
    //message
    toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "600",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                    }
    $.notify.defaults({ className: "info" });
</script>

</body>

</html>
