<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge" />
		<title>ADMIN</title>
		<meta
			name="author"
			content="name" />
		<meta
			name="description"
			content="description here" />

		<link
			rel="stylesheet"
			href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
		<!--Replace with your tailwind.css once created-->
		<link
			href="https://afeld.github.io/emoji-css/emoji.css"
			rel="stylesheet" />
		<!--Totally optional :) -->
	</head>

	<body class="bg-white">
		<div
			class="bg-white flex justify-center items-center h-screen w-screen">
			<div class="flex flex-col space-y-4">
				<button class="py-3 px-8 bg-green-600 text-white rounded">
					<a href="/jj">Crypto Investors</a>
				</button>
				<button class="py-3 px-8 bg-green-600 text-white rounded">
					<a href="#"> Housing Investors</a>
				</button>
				<button class="py-3 px-8 bg-green-600 text-white rounded">
					<a href="#">Cash Investors</a>
				</button>

				<button>
					<a
						href="/admin-logout"
						class="mt-10 py-3 px-8 bg-red-600 rounded-lg"
						>Logout</a
					>
				</button>
			</div>
		</div>
	</body>
</html>
