<%- include ('./partials/indexheader') %>

    <main>
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 75vh;"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("/img/real.jpeg");'
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-75 bg-black"
          ></span>
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold text-4xl">
                  REAL ESTATE INVESTMENT
                </h1>
                <p class="mt-4 text-lg text-gray-300">
                  Fulfilling Real Estate Dreams: Helping Hands Delivers Tailored Solutions for Success. From Acquisition to Maximization, Trust Us to Navigate the Market with Precision
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-300 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <section class="pb-20 bg-gray-300 -mt-24">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
                  >
                    <i class="fas fa-award"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Successful</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Success Rate: 98% of Clients Find Their Dream Home with Helping Hands.
                  </p>
                  <p class="mt-2 mb-4 text-gray-600">
                    Closing Ratio: 95% of Listings Helped by Helping Hands Close Successfully.
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
                  >
                    <i class="fas fa-smile"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Stress-Free</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    92% of Clients Recommend Helping Hands for a Stress-Free Real Estate Experience.
                                    </p>
                   <p class="mt-2 mb-4 text-gray-600">
                    90% of Real Estate Transactions Handled by Helping Hands are Completed On-Time and Within Budget.
                                                      </p>
                </div>
              </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
                  >
                    <i class="fas fa-trophy"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Experienced</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    75% of Helping Hands Agents Hold Advanced Real Estate Certifications.
                  </p>

                  <p class="mt-2 mb-4 text-gray-600">
                    Over 20 Years of Combined Experience in the Local Real Estate Market by Helping Hands Agents.                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="flex flex-wrap items-center mt-32">
            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
              <div
                class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
              >
                <i class="fas fa-user-friends text-xl"></i>
              </div>
              <h3 class="text-3xl mb-2 font-semibold leading-normal">
                Industry & Applications
              </h3>
              <p
                class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
              >
             In addition to a wide variety of standard industrial Zim Energy products, 
              our custom engineered specialty flanged inline solutions are used for research, 
              testing, and other  high energetic-temperature applications throughout the heating space, 
              aviation, defense, and automotive industries.
              </p>
              
            </div>
            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600"
              >
                <img
                  alt="..."
                  src="/img/machine4.jpg"
                  class="w-full align-middle rounded-t-lg"
                />
                <blockquote class="relative p-8 mb-4">
                  <svg
                    preserveAspectRatio="none"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 583 95"
                    class="absolute left-0 w-full block"
                    style="height: 95px; top: -94px;"
                  >
                    <polygon
                      points="-30,95 583,95 583,65"
                      class="text-pink-600 fill-current"
                    ></polygon>
                  </svg>
                  <h4 class="text-xl font-bold text-black">
                    Top Notch Services
                  </h4>
                  <p class="text-md font-light mt-2 text-black">
                    As the world’s best manufacturer for construction and mining equipment, 
                    We provides high-quality generator sets.
                  </p>
                </blockquote>
              </div>
            </div>
          </div> -->
        </div>
      </section>
      <section class="relative py-20">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <img
                alt="..."
                class="max-w-full rounded-lg shadow-lg"
                src="/img/house.jpeg"
              />
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12">
                
                <h3 class="text-3xl font-semibold">REAL ESTATE FEATURES</h3>
                
                <ul class="list-none mt-6">
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-yellow-200 bg-yellow-200 mr-3"
                          ></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">
                          Experienced and Licensed Agents
                        </h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-yellow-200 mr-3"
                          ></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">Streamlined Buying and Selling Process</h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-yellow-200 mr-3"
                          ></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">Technology-Driven Tools</h4>
                      </div>
                    </div>
                  </li>

                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-yellow-200 mr-3"
                          ></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">Local Market Expertise</h4>
                      </div>
                    </div>
                  </li>

                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-yellow-200 mr-3"
                          ></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">Personalized Service</h4>
                      </div>
                    </div>
                  </li>

                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-yellow-200 mr-3"
                          ></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">Buyer Representation and Negotiation</h4>
                      </div>
                    </div>
                  </li>

                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-yellow-200 mr-3"
                          ></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">Mortgage Pre-Approval Assistance</h4>
                      </div>
                    </div>
                  </li>

                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-yellow-200 mr-3"
                          ></span>
                      </div>
                      <div>
                        <h4 class="text-gray-600">First-Time Homebuyer Programs</h4>
                      </div>
                    </div>
                  </li>


                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-white mb-10">
        <div class="container grid grid-cols-1 gap-8 py-8 mx-auto text-center md:grid-cols-3">
            <div>
                <h5 class="text-5xl font-bold text-black">
                    <span class="inline text-black">
                        3356
                    </span>
                    <span class="text-black">
                        +
                    </span>
                </h5>
                <p class="text-xs font-medium tracking-wide text-black uppercase">
                    Investors
                </p>
            </div>
            <div>
                <h5 class="text-5xl font-bold text-black">
                    <span class="inline text-black">
                        2356
                    </span>
                    <span class="text-black">
                        +
                    </span>
                </h5>
                <p class="text-xs font-medium tracking-wide text-black uppercase">
                    Home Owners
                </p>
            </div>
      
            
            <div>
                <h5 class="text-5xl font-bold text-black">
                    <span class="inline text-black">
                        2000
                    </span>
                    <span class="text-black">
                        +
                    </span>
                </h5>
                <p class="text-xs font-medium tracking-wide text-black uppercase">
                    investment 
                </p>
            </div>
            
          </div>
          <!--  -->
        </section>

        <section class="bg-white mb-10">

          <div class="flex flex-wrap justify-center text-center mb-4">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold text-black">Buy. Sell. Invest.</h2>
               
             
            </div>
          </div>
          <!-- <div class="flex flex-wrap justify-end text-right mb-12 mx-6">
            <div class="">
              <a class="text-brightYellow" href="/productAndService"> See More ..</a>
      
            </div>
          </div> -->
      
        <div class="flex flex-wrap items-center justify-between  m-10">
      
      
       

<div class=" max-w-xs my-5 bg-white border border-gray-200 rounded-lg shadow">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real1.avif" alt="" />
  </a>
  <div class="p-5">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Modern Oasis </h5>
      </a>
      <ul class="text-md">
        <li><span class="font-semibold">Property Details:</span> 3 bedrooms, 2 bathrooms, 1,500 sqft</li>
        <li> <span class="font-semibold">Location: </span>Los Angeles, California</li>
        <li><span class="font-semibold">Target Audience:</span> Young professionals, couples</li>
      </ul>
      <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Buy Now
           <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
      </a>
  </div>
</div>

      
<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real2.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Family Haven </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 4 bedrooms, 3 bathrooms, 2,500 sqft</li>
      <li> <span class="font-semibold">Location: </span>suburban Chicago, Illinois</li>
      <li><span class="font-semibold">Target Audience:</span> Families with children</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>
      
<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real3.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Luxury Villa </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span>5 bedrooms, 4 bathrooms, 3,500 sqft</li>
      <li> <span class="font-semibold">Location: </span>Miami Beach, Florida</li>
      <li><span class="font-semibold">Target Audience:</span>  High-end individuals, expats</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>
      
<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real4.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cozy Cottage </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 2 bedrooms, 1 bathroom, 1,000 sqft</li>
      <li> <span class="font-semibold">Location: </span>Asheville, North Carolina</li>
      <li><span class="font-semibold">Target Audience:</span>  Singles, couples</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>

<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real5.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Urban Loft </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 2 bedrooms, 2 bathrooms, 1,200 sqft</li>
      <li> <span class="font-semibold">Location: </span>New York City, New York</li>
      <li><span class="font-semibold">Target Audience:</span> Creative professionals, entrepreneurs</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>

<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg h-56 w-full" src="/img/real6.avif"  alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tropical Getaway </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 3 bedrooms, 2 bathrooms, 1,800 sqft</li>
      <li> <span class="font-semibold">Location: </span> Honolulu, Hawaii</li>
      <li><span class="font-semibold">Target Audience:</span> Young professionals, couples</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>

<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real7.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> City Apartment </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 2 bedrooms, 1 bathroom, 900 sqft</li>
      <li> <span class="font-semibold">Location: </span>San Francisco, California</li>
      <li><span class="font-semibold">Target Audience:</span> Young professionals, couples</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>

<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg h-56 w-full" src="/img/real8.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Modern Farmhouses </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 4 bedrooms, 3 bathrooms, 2,800 sqft</li>
      <li> <span class="font-semibold">Location: </span> rural Texas</li>
      <li><span class="font-semibold">Target Audience:</span> Families, nature enthusiasts</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>

<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real9.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Beachside Bungalow </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 3 bedrooms, 2 bathrooms, 1,600 sqft</li>
      <li> <span class="font-semibold">Location: </span>Outer Banks, North Carolina</li>
      <li><span class="font-semibold">Target Audience:</span> Beach lovers, families</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>

<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real10.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Luxury Penthouse </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span>  4 bedrooms, 3 bathrooms, 3,000 sqft</li>
      <li> <span class="font-semibold">Location: </span>Las Vegas, Nevada</li>
      <li><span class="font-semibold">Target Audience:</span> High-end individuals, executives</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>

<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg h-56 w-full" src="/img/real11.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Modern Townhouse </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 3 bedrooms, 2 bathrooms, 1,500 sqft</li>
      <li> <span class="font-semibold">Location: </span>3 bedrooms, 2 bathrooms, 1,400 sqft</li>
      <li><span class="font-semibold">Target Audience:</span>  Seattle, Washington</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>

<div class="max-w-xs  my-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/img/real12.avif" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Family Home </h5>
    </a>
    <ul class="text-md">
      <li><span class="font-semibold">Property Details:</span> 5 bedrooms, 4 bathrooms, 3,200 sqft</li>
      <li> <span class="font-semibold">Location: </span>suburban Washington D.C.</li>
      <li><span class="font-semibold">Target Audience:</span> Families with children</li>
    </ul>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Buy Now
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>
      
            </div>    
          </section>
      
      
      <%- include ('./partials/indexfooter') %>
    